<div class="map">
  <div id="map-canvas"></div>
</div>
<script>
{% if website_data.map_center_lat and website_data.map_center_lng %}
    var zoom = {{website_data.map_zoom_level}}
    var lat = {{website_data.map_center_lat}}
    var lng = {{website_data.map_center_lng}}
    function initialize() {
      var myOptions = {
          zoom: zoom,
          center: new google.maps.LatLng(lat, lng),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          scrollwheel: false
      }
      map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

      var marker = new google.maps.Marker({
          map: map,
          position: new google.maps.LatLng(lat, lng)
      });
    }
    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
          '&callback=initialize&key=AIzaSyCxqPAlL6tmp-Wny3tC0e_byl-jOxzu_QA';
      document.body.appendChild(script);
    }

    window.onload = loadScript;
{% endif %}
</script>
